
.BookingConfirmation{
    height: 100vh;
}

.confirmation-modal{
    width: 65%;
    background: var(--background-gradient);
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
    border-radius: 8px;
    margin-top: -16rem;
}

.icon-check{
    color: var(--pink);
    font-size: 50px;
    margin-bottom: 1rem;

}

.confirmation-modal section{
    color: white;
    width: 80%;
    margin: 0 auto;
}

.confirmation-modal p{
    font-size: .8rem;
    margin-bottom: 2rem;
}

.confirmation-modal h1{
    font-weight: 600;
    margin-bottom: 1rem;
}