  .accordion {
    padding-block: 1rem;
  }

.accordion-title {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: .2rem;
  }

  .accordion-title-div{
    text-decoration: underline;
  }
  
   .accordion-title-div:hover {
    color: rgb(208, 207, 207);
  } 
  

  .accordion-content {
    background-color: var(--third-grey);
    font-size: .8rem;
    padding: 1rem;
    /* position: absolute; */

  }

  .accordion-content li{
    margin-left: 1rem;
  }


  .test{
    border-radius: 8px;
    overflow: hidden;
  }

  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }

