:root {
    --background-gradient: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
    --background: #121212;
    --secondary: #171717;
    --divider: #2F2F2F;
    --pink: #CE6AD0;
    --pink-gradiant: linear-gradient(232deg, #DC84DE -0.46%, #CE6AD0 46.2%, #C64FC8 89.11%);
    --cta-grey: #252525ab;
  }

  .accordion {
    padding-block: 1rem;
  }

.accordion-title {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    margin-bottom: .2rem;
  }

  .accordion-title-div{
    text-decoration: underline;
  }
  
   .accordion-title-div:hover {
    color: rgb(208, 207, 207);
  } 
  

  .accordion-content {
    background-color: var(--cta-grey);
    font-size: .8rem;
    padding: 1rem;
  }

  .accordion-content li{
    margin-left: 1rem;
  }


  .test{
    border-radius: 8px;
    overflow: hidden;
  }

  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }

