

.Profile{
    /* height: 100vh; */
    margin: 0 auto;
    margin-top: -16rem;
    width: 85%;
    color: white;
}

.profile-greeting{
    display: flex;
    justify-content: space-between;
}

.profile-greeting h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.profile-edit{
    display: flex;
    gap: .5rem;
    align-items: end;
}

.hej{
    background-color: var(-);
}


.profile-prev-bookings h2, .profile-current-bookings h2, .h2-profile{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.profile-prev-bookings, .profile-current-bookings {
    display: flex;
    flex-direction: column;
}

.current-bookings-total, .prev-bookings-total{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.current-bookings-total p, .profile-greeting p, .prev-bookings-total p {
    font-size: .8rem;
}

.btn-show-more{
    /* width: 50%; */
    margin: 0 auto;
}

.profile-like-wrapper{
    display: flex;
    gap: 1rem;
}