/* NAVBAR */

.Navbar{
    background-image: url("../../images/masthead_large.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    z-index: -1;
    width: 100%;
}

.Navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .Navbar .nav-links {
    overflow: hidden;
    display: flex;
    /* width: 100%; */
    /* right: 1rem; */
      /* align-items: center; */
      /* gap: 2rem; */
  }

  .Navbar .nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .nav-links li {
    text-align: center;
    padding: 14px 16px;
    list-style: none;
    font-size: .8rem;
  }

  .nav-user-icon{
    color: white;
  }

  .navbar-loggedIn{
    display: flex;
    align-items: center ;
  }

  .nav-user-icon{
    cursor: pointer;
  }