
.Register{
    width: 100vw;
    height: 100%;
    background-color:#13131397;
    z-index: 999;
    position: fixed;
}

.register-modal{
    background: var(--third-grey) ;
    width: 70%;
    margin: 0 auto;
    height: 50%;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 8px;
}

.Register form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 70%;
    font-size: .8rem;
    color: white;
}

.Register form input{
    padding: .6rem;
    color: white;
    border-radius: 8px;
    background-color: #121212;
    border: none;
    margin-block: 5px;
    width: 100%;
    outline: transparent;
}

.Register h1{
    font-size: 1.5rem;
    font-weight: 600;
}

.Register p {
    font-size: .8rem;
}

.password-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
    padding-top: .4rem;
}

.Register .form-group{
    width: 100%;
}


@media (max-width: 600px) {

    .register-modal{
        width: 90%;
        height: auto;
        padding: 1rem;
    }

    .Register form{
        width: 90%;
    }

    .link-register {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: .5rem;
        width: 90%;
        justify-content: space-between;
    }

    .link-register button{
        width: 100%;
    }

    .Register form button{
        width: 100%;
        margin-bottom: .5rem;
    }

    .password-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .5rem;
        padding-top: .4rem;
    }

    .Register h1{
        margin-bottom: .5rem;
    }


}
