.BookingDetails{
    margin: 0 auto;
    margin-top: -16rem;
    width: 85%;
    color: white;
}

/* .BookingDetails-wrapper{
    background-color: var(--secondary);
    padding: 3rem;
    border-radius: 8px;
    margin-top: 2rem;
} */

.booking-venue-details{
    background-color: var(--secondary);
    padding: 3rem;
    border-radius: 8px;
    margin-top: 2rem; 
}

.booking-top{
    display: flex;
    justify-content: space-between;
}

.booking-nr h1{
font-weight: 600;
}

/* .btn-add-to-calender {
    display: flex;
    justify-content: space-between;
    align-items: end;
} */

.booking-details-venue-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.booking-details-bottom{
    display: flex;
    line-height: 1.6;
    gap: 3rem;
}
.bottom-left h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
}
.booking-details-terms h2{
    font-size: 1.2rem;
    font-weight: 600;
}

.booking-details-terms p {
    font-size: .9rem;
    margin-top: 1rem;
}

.bottom-left p{
    font-size: .9rem;
    margin-top: 1rem;
}


.bottom-left{
    flex: 3;
}
.bottom-right{
    flex:4;
}

.booking-img-large{
    object-fit: cover;
    height: 300px;
    flex: 2;
    border-radius: 8px;
    /* width: 550px; */

}

.booking-img-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.booking-img-container img{
    object-fit: cover;
    /* width: 250px; */
    height: 140px;
    border-radius: 8px;
}

.top-right{
    display: flex;
    gap: 1rem;
    flex: 2;
}
.top-left{
    margin-right: 1rem;
    flex: 1;
}

.top-left h2{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}
.top-left, .booking-details-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking-details-icons{
    height: 100%;
    /* gap: 1rem; */
}
.booking-details-icons p, .booking-details-icons a{
font-size: .9rem;
}



.booking-details-contact{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(254deg, #252525 11.07%, #191919 84.69%); 
    border-radius: 8px;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-top: 2em;
}

.booking-details-contact h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.booking-details-contact p, .booking-details-contact a{
    font-size: .9rem;
    font-weight: 300;
}

.booking-details-contact a, .booking-details-contact .contact-name {
    font-weight: 600;
}

.booking-venue-location-wrapper{
margin-top: 3rem;
}

.venue-location-text{
    margin-bottom: 1rem;
}
.venue-location-text p{
    margin-top: .3rem;
}

.img-transport img{
   /* width: 300px; */
   width: 100%;
   object-fit: cover;
   height: 230px;
   border-radius: 8px;
}

.booking-details-transportation{
    display: flex;
    gap: 1rem;
}

.transport-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--background-gradient);
    /* flex: 5; */
    border-radius: 8px;
    padding-block: 1rem;
    padding-inline: 2rem;
    width: 55%;
}

.transport-map .am-icons{
    margin-top: .5rem;
    margin-bottom: .3rem;
}

.img-transport{
    width: 45%;
}
.transport-wrapper p{
font-weight: 600;

}

.transport-wrapper .thinner{
    font-weight: 300;
}

.transport-icons-wrapper{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    gap: 3rem;
}

.transport-map{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1.5rem;
}





.booking-details-billing{
    padding: 2rem;
    background-color: var(--divider);
    border-radius: 8px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booking-details-billing h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.billing-details h3{
    font-size: 1rem;
    font-weight: 600;
}
.billing-detail-bottom h2{
    font-size: 1rem;
    font-weight: 600;
}

.billing-download{
    display: flex;
    justify-content: space-between;
}

.billing-details{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.billing-details p, .billing-detail-bottom p{
    font-size: .7rem;
}

.billing-details h3{
    margin-bottom: 1rem;
}

.bill-quantity, .bill-unit, .bill-vat, .bill-total, .bill-unit-price{
    flex: 1;
    text-align: end;
}

.bill-description{
    flex: 3;
}

.BookingDetails .classMap{
    border-radius: 8px;
    height: 400px;
    margin-top: 1rem;
}

.bottom-top, .bottom-bottom{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.billing-due-date p{
    font-size: 1rem;
    font-weight: 600;
}

.billing-detail-bottom{
    display: flex;
    justify-content: end;
    text-align: end;
    gap: 3rem;
    margin-top: 1rem;
}



