  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,700&display=swap');
  :root {
    --background-gradient: linear-gradient(254deg, #252525 11.07%, #171717 84.69%);
    --background: #121212;
    --secondary: #171717;
    --divider: #2F2F2F;
    --pink: #CE6AD0;
    --pink-gradiant: linear-gradient(232deg, #DC84DE -0.46%, #CE6AD0 46.2%, #C64FC8 89.11%);
    --cta-grey: #252525ab;
    --third-grey: #252525;
    --line-height: 1.7;
  }

  /* gemensamma nämnare alla h2? */
  .All h2{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: .5rem;

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;;
}

body{
  background-color: #121212;
}

.btn-dark{
    background: var(--background-gradient);
    color: white;
    padding: 0.4rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-close{
  background: rgba(13, 13, 13, 0.81);
  color: white;
  padding: 0.4rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-login:disabled{
  background: rgba(68, 68, 68, 0.615);
  color: white;
}

  option{
    border-radius: 0px 0px 8px 8px;
    outline: none;
  }

  .btn-search {
    background: var(--pink-gradiant);
    color: white;
    padding: 0.4rem 2rem;
    border: none;
    border-radius: 10px;
    align-self: end;
    margin-top: 1rem;
    cursor: pointer;
  }

  .btn {
    background: var(--pink-gradiant);
    color: white;
    padding: 0.4rem 2rem;
    border: none;
    border-radius: 10px;
    align-self: end;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  /* HOME FORTSÄTTNING */

  .btn-home{
    margin: 0 auto;
  }

  
  .welcome-text{
    text-align: center;
    color: white;
    margin-top: 3rem;
  }

  .welcome-text h1{
    margin-bottom: 1rem;
  }

  /* SAMMA CONTAINER I VENUES OCKSÅ */
  .venues-container{
    width: 85%;
    margin: 3rem auto;
    color: white;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }

  .pop-venues{
    font-size: 1rem;
  }

  /* VENUECARD */

  /* //FIXA MEDIAQUERY  1250PX*/
  .VenueCards-container{
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }

  /* MEDIA QUERYS */

  @media (max-width: 1250px) {
    .venues-container {
      width: 90%;
    }

  }

  /* @media (max-width: 1180px) {
    .venues-container {
      width: 95%;
    }
  } */

  /* @media (max-width: 1120px) {
    .VenueCards-container{
      justify-content: center;
    }

    .pop-venues{
      margin: 0 auto;
    }
  } */

  @media (max-width: 936px) {

    /* .venues-container {
      width: 100%;
    } */
    .VenueCards-container{
      /* justify-content: center; */
      justify-content: center;
    }
    .pop-venues{
      margin: 0 auto;
    }
  }

  @media (max-width: 836px) {
    .CTA{
      width: 95%;
      /* margin-top: -16rem; */
      /* height: 300px; */
    }
  }
  @media (max-width: 600px) {
    .CTA{
      /* width: 100%; */
      /* margin-top: -16rem; */
      margin-top: -19rem;
      height: 350px;

    }

    .SBO-options {
      width: 90%;
      margin-top: -19rem;
      height: auto;
      padding-block: 1rem;
    }

    .SBO-options .date-picker{
      padding-block: 1rem;
    }

    .SBO-options label{
      text-align: center;
      font-size: 1rem;
    }

    .sbo-container .dropdowns-sbo{
      display: flex;
      flex-direction: column;
    }

    .CTA label {
      font-size: 1rem;
      text-align: center;
    }

    .cta-container{
      width: 100%
    }

    .CTA .dropdowns{
      display: block;
      justify-content: space-around;
      width: 100%;
      /* color: white; */
      /* font-size: .8rem; */
      /* font-weight: 200; */
      /* gap: 2rem; */
      /* margin-top: 2rem;  */
    }

    .dropdownOne, .dropdownTwo{
    padding: .5rem;
    }
    .btn-search{
      width: 90%;
      padding: 1rem;
      margin: 0 auto;
      margin-top: 1rem;

    }
    .css-b62m3t-container, .css-1w51wga-control, .css-b9akh4-control, div.css-betzke-control, .css-fswcfb-control{
      width: 100% !important;
      padding-block: .5rem;
    }
    
    .VenueCards-container a {
      width: 100%;
    }

  }

  .dropdownTwo{
    width: 100%;
  }
  .dropdownOne{
    width: 100%;
  }

  .cta-container{
    width: 80%;
  }


  label{
    display: block;
  }

  p.btn-show-more-options{
    text-decoration: underline;
    margin-top: 1rem;
    font-size: .9rem;
    font-weight: 400;
  }

  .btn-and-options{
    display: flex;
    justify-content: space-between;
  }

  .more-options-wrapper{
    color: white;
  }
  .more-options-container{
    margin-top: .2rem;
    position: absolute;
  }
  .more-options-container .checkbox-wrapper{
    margin-top: .2rem;
  }


  .classMap{
    width: 100%;
    height: 300px;
    border-radius: 0px 0px 8px 8px;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #121212 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s; /* Override Chrome's autofill background transition */
    background-color: #121212 !important;
}

/* Target autofill styles for other browsers */
input:-internal-autofill-selected {
    /* -webkit-box-shadow: 0 0 0 1000px #121212 inset !important; */
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s; /* Override other browsers' autofill background transition */
    background-color: #121212 !important;
}


